In [2]:
import pandas as pd
import numpy as np
import yaml
import seaborn as sns
import matplotlib.pyplot as plt
import os
import json
from collections import defaultdict
%matplotlib inline

In [384]:
df_lang= pd.read_csv("../datasets/languages/languoid.csv")
id2iso = dict(zip(df_lang["id"], df_lang["iso639P3code"]))
id2name= dict(zip(df_lang["id"], df_lang["name"]))

In [385]:
df_lang[df_lang["name"].str.contains("Standard Arabic")]

,id,family_id,parent_id,name,bookkeeping,level,latitude,longitude,iso639P3code,description,markup_description,child_family_count,child_language_count,child_dialect_count,country_ids
21970,stan1318,afro1255,arab1395,Standard Arabic,False,language,27.9625,43.8525,arb,NaN,NaN,0,0,0,AE BH DJ DZ EG ER IL IQ JO KM KW LB LY MA OM P...

In [386]:
id2iso = dict(zip(df_lang["id"], df_lang["iso639P3code"]))
id2name= dict(zip(df_lang["id"], df_lang["name"]))

In [387]:
iso2id =  dict(zip( df_lang["iso639P3code"], df_lang["id"]))
iso2name = dict(zip(df_lang["iso639P3code"], df_lang["name"]))

In [380]:
df_gb = pd.read_csv("../datasets/data_for_graph/Grambank/grambank_lang2features.csv")
df_gb_edges = pd.read_csv("../datasets/data_for_graph/Grambank/edgelist.csv")

In [381]:
df_wals = pd.read_csv("../datasets/data_for_graph/WALS/wals_lang2features.csv")
df_wals_edges = pd.read_csv("../datasets/data_for_graph/WALS/edgelist.csv")

In [382]:
df_wn = pd.read_csv("../datasets/data_for_graph/wn_colex.csv")
df_clics = pd.read_csv("../datasets/data_for_graph/clics3.csv")

# Subsets for inversion and prompt languages

In [388]:
with open("../datasets/prompts_language_confusion/prompt_langs.json") as f:
    prompt_langs = json.load(f)

In [389]:
with open("../datasets/inversion_language_confusion/inversion_langs.json") as f:
    inversion_langs = json.load(f)

In [390]:
prompt_langs += ["cmn", "arb"]

In [391]:
inversion_langs += ["cmn", "arb"]

In [392]:
"cmn" in inversion_langs, "cmn" in prompt_langs

(True, True)

In [393]:
"arb" in inversion_langs, "arb" in prompt_langs

(True, True)

In [394]:
len(set(prompt_langs)), len(set(inversion_langs))

(133, 106)

# Inversion Dataset

In [398]:
df_gb[df_gb["Lang_iso639P3code"]=="cmn"]

,Lang_name,Lang_iso639P3code,Lang_ID,GB020,GB021,GB022,GB023,GB024,GB025,GB026,...,GB421,GB422,GB430,GB431,GB432,GB433,GB519,GB520,GB521,GB522
1231,Mandarin Chinese,cmn,mand1415,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,1,0,1

In [399]:
"cmn" in df_gb["Lang_iso639P3code"].tolist()

True

In [400]:
df_gb_inversion = df_gb[df_gb["Lang_iso639P3code"].isin(inversion_langs)]
df_gb_edges_inversion = df_gb_edges[df_gb_edges["Target_iso639P3code"].isin(inversion_langs) & df_gb_edges["Source_iso639P3code"].isin(inversion_langs)]

In [401]:
df_gb_inversion[df_gb_inversion["Lang_iso639P3code"]=="cmn"]

,Lang_name,Lang_iso639P3code,Lang_ID,GB020,GB021,GB022,GB023,GB024,GB025,GB026,...,GB421,GB422,GB430,GB431,GB432,GB433,GB519,GB520,GB521,GB522
1231,Mandarin Chinese,cmn,mand1415,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,1,0,1

In [402]:
df_gb_inversion.to_csv("../datasets/data_for_graph/subsets/inversion/gb_features.csv", index=False)
df_gb_edges_inversion.to_csv("../datasets/data_for_graph/subsets/inversion/gb_edges.csv", index=False)

In [403]:
df_wals[df_wals["Lang_iso639P3code"]=="cmn"]

,Lang_name,Lang_iso639P3code,Lang_ID,Family,Genus,Consonant Inventories,Vowel Quality Inventories,Consonant-Vowel Ratio,Voicing in Plosives and Fricatives,Voicing and Gaps in Plosive Systems,...,NegSOV Order,SNegOV Order,SONegV Order,SOVNeg Order,The Position of Negative Morphemes in Verb-Initial Languages,Double negation in verb-initial languages,Verb-Initial with Preverbal Negative,Verb-Initial with Negative that is Immediately Postverbal or between Subject and Object,Verb-Initial with Clause-Final Negative,The Position of Negative Morphemes in Object-Initial Languages
1885,Mandarin Chinese,cmn,mand1415,1,109,0,0,0,2,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [404]:
df_wals_inversion = df_wals[df_wals["Lang_iso639P3code"].isin(inversion_langs)]

In [405]:
df_wals_inversion[df_wals_inversion["Lang_iso639P3code"]=="cmn"]

,Lang_name,Lang_iso639P3code,Lang_ID,Family,Genus,Consonant Inventories,Vowel Quality Inventories,Consonant-Vowel Ratio,Voicing in Plosives and Fricatives,Voicing and Gaps in Plosive Systems,...,NegSOV Order,SNegOV Order,SONegV Order,SOVNeg Order,The Position of Negative Morphemes in Verb-Initial Languages,Double negation in verb-initial languages,Verb-Initial with Preverbal Negative,Verb-Initial with Negative that is Immediately Postverbal or between Subject and Object,Verb-Initial with Clause-Final Negative,The Position of Negative Morphemes in Object-Initial Languages
1885,Mandarin Chinese,cmn,mand1415,1,109,0,0,0,2,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [406]:
df_wals_inversion = df_wals[df_wals["Lang_iso639P3code"].isin(inversion_langs)]
df_wals_edges_inversion= df_wals_edges[df_wals_edges["Target_iso639P3code"].isin(inversion_langs) & df_wals_edges["Source_iso639P3code"].isin(inversion_langs)]
df_wals_inversion.to_csv("../datasets/data_for_graph/subsets/inversion/wals_features.csv", index=False)
df_wals_edges_inversion.to_csv("../datasets/data_for_graph/subsets/inversion/wals_edges.csv", index=False)

In [407]:
len(df_wals_edges_inversion), len(df_wals_inversion)

(3167, 83)

In [280]:
df_clics_inversion = df_clics[df_clics["Target_iso639P3code"].isin(inversion_langs) & df_clics["Source_iso639P3code"].isin(inversion_langs)]
df_wn_inversion = df_wn[df_wn["Target_iso639P3code"].isin(inversion_langs) & df_wn["Source_iso639P3code"].isin(inversion_langs)]

In [281]:
len(df_clics_inversion), len(df_wn_inversion)

(2767, 10506)

In [283]:
df_clics_inversion.to_csv("../datasets/data_for_graph/subsets/inversion/clics.csv", index=False)
df_wn_inversion.to_csv("../datasets/data_for_graph/subsets/inversion/wn_colex.csv", index=False)

# Prompt dataset

In [408]:
"zho" in prompt_langs, "cmn" in prompt_langs

(True, True)

In [409]:
df_gb_prompt = df_gb[df_gb["Lang_iso639P3code"].isin(prompt_langs)]

In [410]:
df_gb_edges_prompt = df_gb_edges[df_gb_edges["Target_iso639P3code"].isin(prompt_langs) & df_gb_edges["Source_iso639P3code"].isin(prompt_langs)]

In [411]:
df_gb_prompt.to_csv("../datasets/data_for_graph/subsets/prompts/gb_features.csv", index=False)
df_gb_edges_prompt.to_csv("../datasets/data_for_graph/subsets/prompts/gb_edges.csv", index=False)

In [412]:
df_wals_prompt = df_wals[df_wals["Lang_iso639P3code"].isin(prompt_langs)]
df_wals_edges_prompt = df_wals_edges[df_wals_edges["Target_iso639P3code"].isin(prompt_langs) & df_wals_edges["Source_iso639P3code"].isin(prompt_langs)]
df_wals_prompt.to_csv("../datasets/data_for_graph/subsets/prompts/wals_features.csv", index=False)
df_wals_edges_prompt.to_csv("../datasets/data_for_graph/subsets/prompts/wals_edges.csv", index=False)

In [267]:
df_clics_prompt = df_clics[df_clics["Target_iso639P3code"].isin(prompt_langs) & df_clics["Source_iso639P3code"].isin(prompt_langs)]
df_wn_prompt = df_wn[df_wn["Target_iso639P3code"].isin(prompt_langs) & df_wn["Source_iso639P3code"].isin(prompt_langs)]

In [270]:
len(df_clics_prompt), len(df_wn_prompt)

(3184, 16002)

In [271]:
df_clics_prompt.to_csv("../datasets/data_for_graph/subsets/prompts/clics.csv", index=False)
df_wn_prompt.to_csv("../datasets/data_for_graph/subsets/prompts/wn_colex.csv", index=False)

# Give the iso3code and Language name to Grambank data in addition to glottocode

In [284]:
df_wn = pd.read_csv("../datasets/data_for_graph/wn_colex.csv")

In [289]:
df_wn.rename(columns={"Target":"Target_ID", "Source":"Source_ID"}, inplace=True)

In [215]:
df_wn.drop(columns=["Target_iso639P3code", "Source_iso639P3code"], inplace=True)

In [216]:
df_wn.rename(columns={"Target":"Target_iso639P3code", "Source":"Source_iso639P3code"}, inplace=True)

In [217]:
iso2id["msa"], iso2name["msa"]

('stan1318', 'Standard Arabic')

In [256]:
df_wn.head(2)

,Target_iso639P3code,Source_iso639P3code,Weight,Colex_target,Colex_source,pmi,pmi_norm,Target_name,Source_name,Target,Source
0,msa,ind,215159,492290,484134,2.212693,0.183280,Standard Arabic,Standard Indonesian,stan1318,indo1316
1,ind,msa,215371,484134,492290,2.214114,0.183374,Standard Indonesian,Standard Arabic,indo1316,stan1318

In [220]:
df_wn["Target"] = df_wn["Target_iso639P3code"].apply(lambda x: iso2id.get(x,None))
df_wn["Target_name"] = df_wn["Target_iso639P3code"].apply(lambda x: iso2name.get(x,None))
df_wn["Source"] = df_wn["Source_iso639P3code"].apply(lambda x: iso2id.get(x,None))
df_wn["Source_name"] = df_wn["Source_iso639P3code"].apply(lambda x: iso2name.get(x,None))

In [290]:
df_wn.to_csv("../datasets/data_for_graph/wn_colex.csv", index=False)

# CLICS

In [291]:
df_clics = pd.read_csv("../datasets/data_for_graph/clics3.csv")

In [293]:
df_clics.rename(columns={"Target":"Target_ID", "Source":"Source_ID"}, inplace=True)

In [294]:
df_clics[df_clics["Source_iso639P3code"]=="msa"].head(2)

,Target_ID,Source_ID,Weight,Colex_target,Colex_source,pmi,pmi_norm,Target_iso639P3code,Target_name,Source_iso639P3code,Source_name
78208,koyo1242,stan1318,1,14.0,39.0,7.117952,0.576581,koh,Koyo,msa,Standard Arabic
78287,basa1284,stan1318,1,13.0,39.0,7.224867,0.582611,bas,Basa (Cameroon),msa,Standard Arabic

In [229]:
df_clics["Target_iso639P3code"] = df_clics["Target"].apply(lambda x: id2iso.get(x,None))
df_clics["Target_name"] = df_clics["Target"].apply(lambda x: id2name.get(x,None))
df_clics["Source_iso639P3code"] = df_clics["Source"].apply(lambda x: id2iso.get(x,None))
df_clics["Source_name"] = df_clics["Source"].apply(lambda x: id2name.get(x,None))

In [295]:
df_clics.to_csv("../datasets/data_for_graph/clics3.csv", index=False)

# WALS

In [338]:
df_wals = pd.read_csv("../datasets/data_for_graph/WALS/wals_lang2features.csv")
df_wals_edges = pd.read_csv("../datasets/data_for_graph/WALS/edgelist.csv")

In [342]:
df_wals_edges.replace({"zho":"cmn"}, inplace=True)

In [352]:
df_wals_edges.replace({"msa":"arb"}, inplace=True)

In [236]:
df_wals_edges["Target_iso639P3code"] = df_wals_edges["Target"].apply(lambda x: id2iso.get(x,None))
df_wals_edges["Target_name"] = df_wals_edges["Target"].apply(lambda x: id2name.get(x,None))
df_wals_edges["Source_iso639P3code"] = df_wals_edges["Source"].apply(lambda x: id2iso.get(x,None))
df_wals_edges["Source_name"] = df_wals_edges["Source"].apply(lambda x: id2name.get(x,None))

In [84]:
cols = list(df_wals.columns)
df_wals = df_wals.reindex(columns = cols[-2:]+cols[:-2])

In [86]:
df_wals.rename(columns={"Glottocode":"Lang_ID"}, inplace=True)

In [356]:
df_wals.to_csv("../datasets/data_for_graph/WALS/wals_lang2features.csv", index=False)
df_wals_edges.to_csv("../datasets/data_for_graph/WALS/edgelist.csv", index=False)

In [359]:
df_wals[df_wals["Lang_iso639P3code"]=="arb"]

,Lang_name,Lang_iso639P3code,Lang_ID,Family,Genus,Consonant Inventories,Vowel Quality Inventories,Consonant-Vowel Ratio,Voicing in Plosives and Fricatives,Voicing and Gaps in Plosive Systems,...,NegSOV Order,SNegOV Order,SONegV Order,SOVNeg Order,The Position of Negative Morphemes in Verb-Initial Languages,Double negation in verb-initial languages,Verb-Initial with Preverbal Negative,Verb-Initial with Negative that is Immediately Postverbal or between Subject and Object,Verb-Initial with Clause-Final Negative,The Position of Negative Morphemes in Object-Initial Languages
1289,Standard Arabic,arb,stan1318,16,61,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,0,-1,0,-1,0,-1

In [358]:
df_wals_edges[df_wals_edges["Target_iso639P3code"]=="arb"]

,Target_ID,Source_ID,Weight,Target_iso639P3code,Target_name,Source_iso639P3code,Source_name
12918,stan1318,toba1266,4.0,arb,Standard Arabic,tti,Tobati
27824,stan1318,suku1261,1.0,arb,Standard Arabic,suk,Sukuma
42254,stan1318,tyar1236,1.0,arb,Standard Arabic,woa,Tyaraity
48821,stan1318,yaki1237,13.0,arb,Standard Arabic,yak,Northwest Sahaptin
52004,stan1318,west2560,14.0,arb,Standard Arabic,bdr,West Coast Bajau
...,...,...,...,...,...,...,...
1359430,stan1318,zays1235,5.0,arb,Standard Arabic,zay,Zayse-Zergulla
1359450,stan1318,tete1250,6.0,arb,Standard Arabic,tll,Tetela
1359456,stan1318,tang1336,5.0,arb,Standard Arabic,nmf,East-Central Tangkhul Naga
1359457,stan1318,wayu1241,5.0,arb,Standard Arabic,vay,Wayu
1359465,stan1318,teke1274,10.0,arb,Standard Arabic,ifm,Teke-Fuumu

# Grambank

In [360]:
df_gb = pd.read_csv("../datasets/data_for_graph/Grambank/grambank_lang2features.csv")

In [361]:
df_gb_edges = pd.read_csv("../datasets/data_for_graph/Grambank/edgelist.csv")

In [366]:
df_gb_edges.replace({"msa":"arb", "zho":"cmn"}, inplace=True)

In [376]:
df_gb.replace({"msa":"arb", "zho":"cmn"}, inplace=True)

In [378]:
df_gb[df_gb["Lang_iso639P3code"]=="arb"]

,Lang_name,Lang_iso639P3code,Lang_ID,GB020,GB021,GB022,GB023,GB024,GB025,GB026,...,GB421,GB422,GB430,GB431,GB432,GB433,GB519,GB520,GB521,GB522
1951,Standard Arabic,arb,stan1318,1,1,1,1,3,1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [373]:
df_gb_edges[df_gb_edges["Target_iso639P3code"]=="cmn"]

,Target_ID,Source_ID,Weight,Target_iso639P3code,Target_name,Source_iso639P3code,Source_name
4024,mand1415,ugon1239,111,cmn,Mandarin Chinese,ugo,Ugong
6435,mand1415,nyam1285,118,cmn,Mandarin Chinese,nmi,Nyam
8845,mand1415,mauw1238,54,cmn,Mandarin Chinese,mhl,Mauwake
11254,mand1415,tekt1235,113,cmn,Mandarin Chinese,ttc,Tektiteko
23284,mand1415,nyat1246,97,cmn,Mandarin Chinese,rim,Nyaturu
...,...,...,...,...,...,...,...
2592875,mand1415,wayu1241,132,cmn,Mandarin Chinese,vay,Wayu
2592878,mand1415,maun1240,122,cmn,Mandarin Chinese,mph,Mawng
2592883,mand1415,sanm1301,91,cmn,Mandarin Chinese,pls,San Marcos Tlalcoyalco Popoloca
2592887,mand1415,vure1239,146,cmn,Mandarin Chinese,msn,Vurës
2592889,mand1415,tsix1234,119,cmn,Mandarin Chinese,NaN,Ts'ixa

In [244]:
df_gb_edges["Target_iso639P3code"] = df_gb_edges["Target"].apply(lambda x: id2iso.get(x,None))
df_gb_edges["Target_name"] = df_gb_edges["Target"].apply(lambda x: id2name.get(x,None))
df_gb_edges["Source_iso639P3code"] = df_gb_edges["Source"].apply(lambda x: id2iso.get(x,None))
df_gb_edges["Source_name"] = df_gb_edges["Source"].apply(lambda x: id2name.get(x,None))

In [245]:
df_gb["Lang_name"] = df_gb["Lang_ID"].apply(lambda x: id2name.get(x,None))
df_gb["Lang_iso639P3code"]= df_gb["Lang_ID"].apply(lambda x: id2iso.get(x,None))

In [250]:
cols = list(df_gb.columns)
df_gb = df_gb.reindex(columns = cols[2:]+cols[:2])

In [253]:
df_gb.head(2)

,Lang_name,Lang_iso639P3code,Lang_ID,GB020,GB021,GB022,GB023,GB024,GB025,GB026,...,GB421,GB422,GB430,GB431,GB432,GB433,GB519,GB520,GB521,GB522
0,Abadi,kbt,abad1241,-1,-1,-1,-1,2,1,0,...,-1,-1,0,0,0,1,-1,-1,-1,1
1,Mungbam,mij,abar1238,1,0,0,1,2,2,0,...,1,0,-1,-1,-1,-1,0,0,1,0

In [379]:
df_gb.to_csv("../datasets/data_for_graph/Grambank/grambank_lang2features.csv", index=False)
df_gb_edges.to_csv("../datasets/data_for_graph/Grambank/edgelist.csv", index=False)

In [305]:
df_gb_edges.rename(columns={"Target":"Target_ID", "Source":"Source_ID"}, inplace=True)

In [306]:
df_gb_edges

,Target_ID,Source_ID,Weight,Target_iso639P3code,Target_name,Source_iso639P3code,Source_name
0,adan1251,ugon1239,91,adn,Adang,ugo,Ugong
1,adan1251,nyam1285,112,adn,Adang,nmi,Nyam
2,adan1251,mauw1238,57,adn,Adang,mhl,Mauwake
3,adan1251,tekt1235,113,adn,Adang,ttc,Tektiteko
4,adan1251,avat1244,78,adn,Adang,avn,Avatime
...,...,...,...,...,...,...,...
2912486,tsix1234,vure1239,115,NaN,Ts'ixa,msn,Vurës
2912487,bord1248,vure1239,110,kvn,Border Kuna,msn,Vurës
2912488,beng1282,tsix1234,82,bng,Benga,NaN,Ts'ixa
2912489,beng1282,bord1248,73,bng,Benga,kvn,Border Kuna
2912490,bord1248,tsix1234,98,kvn,Border Kuna,NaN,Ts'ixa

In [307]:
df_gb_edges.to_csv("../datasets/data_for_graph/Grambank/edgelist.csv", index=False)